p#T0 {
  margin-left: 30px;
  display: inline;
  font-weight: bold;
  font-size: 20px;
  font-family: "IBM Plex Mono";
  color: #cccccc;
}
p#T0:hover {
  color: #8a92e1;
}


p#T1 {
  margin-left: 30px;
  display: inline;
  font-weight: bold;
  font-size: 20px;
  font-family: "IBM Plex Mono";
  color: #cccccc;
}
p#T1:hover {
  color: #8a92e1;
}

p#T2 {
  margin-left: 30px;
  display: inline;
  font-weight: bold;
  font-size: 20px;
  font-family: "IBM Plex Mono";
  color: #cccccc;
}
p#T2:hover {
  color: #8a92e1;
}

p#T3 {
  margin-left: 30px;
  display: inline;
  font-weight: bold;
  font-size: 20px;
  font-family: "IBM Plex Mono";
  color: #cccccc;
}
p#T3:hover {
  color: #8a92e1;
}

p#T4 {
  margin-left: 30px;
  display: inline;
  font-weight: bold;
  font-size: 20px;
  font-family: "IBM Plex Mono";
  color: #cccccc;
}
p#T4:hover {
  color: #8a92e1;
}

a#TA5 {
  padding-top: 12px;
  margin-right: 40px;
  display: inline;
  font-weight: bold;
  float: right;
  font-size: 20px;
  font-family: "IBM Plex Mono";
  color: #cccccc;
}
a#TA5:hover {
  color: #8a92e1;
}
p#G {
  margin-top: 0px;
}

img#exter-img {
  display: inline;
  color: #cccccc;
  height: 30px;
  width: 30px;
}
